<div id="growls" class="row">
	<div class="col-sm-2"></div>
	<ul class="col-sm-8">
		<% @growl_list.reverse.each do |item| %>
		<li><%= item %></li>
		<% end %>
	</ul>
	<div class="col-sm-2"></div>
</div>
<div class="row">
	<div class="col-sm-4"></div>
	<form class="col-sm-4"method="get" action="/growl">
		<button type="submit">Enter a new Growl</button>
	</form>
</div>
<audio autoplay= "true" src="growl.mp3">
