<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<title>Grrrrrrr!</title>
</head>
<body>
	<header>
		<div class="row">
			<div id="leftLogo" class="col-sm-2">
				<img src="http://1.bp.blogspot.com/-l-krmT0Srkc/Uarh1PqTAhI/AAAAAAAAGV0/GcIKcoUB0ng/s1600/growler_logo_trans-FINAL1.gif">
			</div>
			<div class="col-sm-2"></div>
			<div class="col-sm-4">
			<img id="tiger" src="http://thisweek.blogs.plymouth.edu/files/2013/01/growl.jpg">
			</div>
			<div class="col-sm-2"></div>
			<div id="rightLogo" class="col-sm-2">
				<img src="http://1.bp.blogspot.com/-l-krmT0Srkc/Uarh1PqTAhI/AAAAAAAAGV0/GcIKcoUB0ng/s1600/growler_logo_trans-FINAL1.gif">
			</div>
		</div>
	</header>
	<div class="row" "col-sm-12" id="spacer"></div>

	<%= yield %>

</body>
</html>