
header {
	height: 200px;
	background-color: gray;
}
img {
	margin: 0px;
	height: 200px;
	width: 100%;
/*	border-width: 100px;
*/	
}
#spacer {
	height: 50px;
}
ul {
	list-style: none;
}
#growls {
	text-align: left;
	height: 200px;
	overflow: auto;
	max-width: 100%;
}
input {
	height: 100px;
	width: 100%;
	font-size: 50px;
	text-align: center;
}
#submit {
	text-align: center;
	max-width: 25%;
}
#rightLogo {
	padding: 0px 20px 0px 0px;
}
#leftLogo {
	padding: 0px 20px 0px 0px;
}